.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: bolder;
}

// 菜单按钮样式
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #7371ff;
}
.site-layout .site-layout-background {
  background: #fff;
}

.custom-layout-sider {
  min-height: 100vh;
}
